<div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="text-capitalize">Federación de estudiantes politécnicos del litoral </h2>
                        <p class="margin-b-0">
                            Presenta su nueva aplicación web de registro de ayudantias online, donde
                            el estudiante podrá registrarse en cualquier materia de manera gratuita.
                        </p>
                    </div>
                </div>
</div>