                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-awareness"></i>
                            <h3 class="text-capitalize">MINIMO DE CUPOS</h3>
                            <p>
                                Solamente te podras registrar en máximo dos materias,una de las ventajas
                                que tendras es que podras ver la cantidad de cupos disponibles por materia 
                                en tiempo real, asi evitas estar recargando la pagina en todo momento.
                            </p>
                            <br>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-education"></i>
                            <h3 class="text-capitalize">INGRESO DE INFORMACION</h3>
                            <p>
                                La información que ingreses a través de la aplicación deberá
                                ser correcta como son Nombre,apellido,telefono,correo ya que después 
                                se generará un documento en formato pdf con la informacion ingresada
                                y los cursos tomados, en donde deberás acercarte a las oficinas de fepol
                                para confirmar su asistencia. 
                            </p>
                            <br>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-happy-kids"></i>
                            <h3 class="text-capitalize">CIERRE DE REGISTRO</h3>
                            <p>
                                Recuerda que los registros se abren y se cierran en una fecha
                                y hora determinada, despues que haya transcurrido ese intervalo de tiempo
                                los registros automaticamente se cierran y no podrás registrarte en ninguna materia hasta que un miembro
                                de fepol vuelva a habilitar las ayudantias y agregar cupos a los cursos.
                            </p>
                            <br>
                        </div><!--end icon box-->
                    </div>