
                    <ul class="event-list list-unstyled">
                        <li class="event-list-item clearfix">
                            <span class="event-date">
                                <span class="date">10</span>
                                <span class="month">CUPOS</span>
                            </span>
                            <div class="event-list-content">
                                <span class="event-time"><i class="fa fa-clock-o"></i> LUNES 10 DE AGOSTO, 8:00 am - 12:00 pm</span>
                                <span class="event-location"><i class="fa fa-location-arrow"></i> 124, Lorem Street, Africa</span>
                                <h4><a href="#">FISICA A</a></h4>
                                <p>
                                    Profesor : Ayudante B
                                </p>
                            </div>
                        </li><!--end event item-->
                        <li class="event-list-item clearfix">
                            <span class="event-date">
                                <span class="date">10</span>
                                <span class="month">CUPOS</span>
                            </span>
                            <div class="event-list-content">
                                <span class="event-time"><i class="fa fa-clock-o"></i> MARTES 11 DE AGOSTO, 8:00 am - 12:00 pm</span>
                                <span class="event-location"><i class="fa fa-location-arrow"></i> 124, Lorem Street, Africa</span>
                                <h4><a href="#">FISICA B</a></h4>
                                <p>
                                    Profesor: Ayudante C
                                </p>
                            </div>
                        </li><!--end event item-->
                        <li class="event-list-item clearfix">
                            <span class="event-date">
                                <span class="date">10</span>
                                <span class="month">CUPOS</span>
                            </span>
                            <div class="event-list-content">
                                <span class="event-time"><i class="fa fa-clock-o"></i> MIERCOLES 12 DE AGOSTO, 8:00 am - 12:00 pm</span>
                                <span class="event-location"><i class="fa fa-location-arrow"></i> 124, Lorem Street, Africa</span>
                                <h4><a href="#">FISICA C</a></h4>
                                <p>
                                    Profesor: Ayudante D
                                </p>
                            </div>
                        </li><!--end event item-->
                        <li class="event-list-item clearfix">
                            <span class="event-date">
                                <span class="date">10</span>
                                <span class="month">CUPOS</span>
                            </span>
                            <div class="event-list-content">
                                <span class="event-time"><i class="fa fa-clock-o"></i> JUEVES 13 DE AGOSTO, 8:00 am - 12:00 pm</span>
                                <span class="event-location"><i class="fa fa-location-arrow"></i> 124, Lorem Street, Africa</span>
                                <h4><a href="#">Calculo 1</a></h4>
                                <p>
                                    Profesor:Ayudante E
                                </p>
                            </div>
                        </li><!--end event item-->
                        <li class="event-list-item clearfix">
                            <span class="event-date">
                                <span class="date">10</span>
                                <span class="month">CUPOS</span>
                            </span>
                            <div class="event-list-content">
                                <span class="event-time"><i class="fa fa-clock-o"></i> VIERNES 14 DE AGOSTO, 8:00 am - 12:00 pm</span>
                                <span class="event-location"><i class="fa fa-location-arrow"></i> 124, Lorem Street, Africa</span>
                                <h4><a href="#">Calculo 2 </a></h4>
                                <p>
                                    Profesor : Ayudante F
                                </p>
                            </div>
                        </li><!--end event item-->
                    </ul><!--end event list-->